[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/MohammadOsseily/frontend-repo.git
[submodule "backend-repo"]
	path = backend-repo
	url = https://github.com/MohammadOsseily/backend-repo.git
